NAME=FOREXPOOL
PORT=8765

MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=forexpool
MYSQL_USER=forexpool
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

CENTRIFUGO_HMAC_SECRET=
CENTRIFUGO_URL=ws://localhost:8000/connection/websocket
CENTRIFUGO_API_URL=https://centrifugo.devan.my.id/api
CENTRIFUGO_API_KEY=