NAME=FOREXPOOL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=algotrading
TRADE_PAIR=USDJPYm,EURUSDm
LOT_SIZE=0.01
AI_TOKEN="958b3d2135214e7f87c74f43d10db86d.GfMAOVJZUAidYNNffKpZOXpZ"
AI_MODEL="deepseek-v3.1:671b"