NAME=FOREXPOOL
PORT=8765
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=algotrading
CORS_ORIGINS=http://localhost:5173,https://nucestatic-terminal.vercel.app,https://marketpool.devan.my.id,https://nucestatic-terminal.devansugiharta.my.id