<header id="header">
    <div class="header-left">
        <a href="/dashboard" class="home-link" title="Dashboard">
            <svg class="home-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M3 9.5L12 3l9 6.5V20a1 1 0 0 1-1 1h-5v-6H9v6H4a1 1 0 0 1-1-1V9.5z"/>
            </svg>
        </a>
        <span class="brand">MARKET POOL</span>
    </div>
    <span id="mt5">
        <span class="dot skeleton"></span>
        <span class="label skeleton skeleton-text"></span>
    </span>
</header>
